<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Cinerator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/dark_theme.css">
    <style>
        .logout-btn {
            background-color: #ff4b5c;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .logout-btn:hover {
            background-color: #ff2a3a;
        }
    </style>
</head>
<body>
    <h1>Cinerator - Movie ratings</h1>
    <div sec:authorize="isAuthenticated()">
        Authenticated as <span th:text="${#authentication.getName()}">User</span>
        <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <span th:text="${#authentication.getPrincipal().authorities}"></span>
        <span th:text="${#authentication.getCredentials()}"></span>
        <span th:text="${#authentication.getUsername}"></span>
        <span sec:authentication="name">Bob</span>
    </div>
    <form action="/greet" method="GET" id="nameForm">
        <div>
            <label for="nameField">How would you like to be called?</label>
            <input name="myName" id="nameField">
            <button>Enter!</button>
        </div>
    </form>
    <form action="/logout" method="GET" class="form-signin">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
    <a href="movie_year.html">Movies from 2015</a><br>
    <a href="movie_search_title.html">Search movie by title</a><br>
    <a href="movie_search_director.html">Search movie by director</a><br>
    <a href="movie_search_genre.html">Search movie by genre</a><br>
    <a href="movie_search_country.html">Search movie by country</a><br>
</body>
</html>