<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Cinerator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
    <style>
        .logout-btn {
            background-color: #ff4b5c;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .logout-btn:hover {
            background-color: #ff2a3a;
        }
    </style>
</head>
<body>
    <h1>Cinerator - Movie ratings</h1>
    <div sec:authorize="isAuthenticated()">
        Authenticated as <span th:text="${#authentication.getName()}">User</span>
        <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
        <span th:text="${#authentication.getPrincipal().authorities}"></span>
        <span th:text="${#authentication.getCredentials()}"></span>
        <span th:text="${#authentication.getUsername}"></span>
        <span sec:authentication="name">Bob</span>
    </div>
    <form action="/greet" method="GET" id="nameForm">
        <div>
            <label for="nameField">How would you like to be called?</label>
            <input name="myName" id="nameField">
            <button>Enter!</button>
        </div>
    </form>
    <form action="/logout" method="GET" class="form-signin">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
    <a href="movie_year.html">test movie</a><br>
    <a href="movie_search.html">test movie</a><br>
</body>
</html>