<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinerator</title>
    <link rel="stylesheet" href="/css/dark_theme.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="index-body">
    <div class="index-container">
        <h1 class="index-header" >Cinerator - Movie Ratings</h1>

        <div class="auth-info">
            <p>Authenticated as:</p>
            <span th:text="${#authentication.getName()}">User</span>
            <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
            <span th:text="${#authentication.getPrincipal().authorities}"></span>
            <span th:text="${#authentication.getCredentials()}"></span>
            <span th:text="${#authentication.getUsername}"></span>
         </div>

        <form class="index-form" action="/greet" method="GET" id="nameForm">
            <label class="greet-label" for="nameField">How would you like to be called?</label>
            <input class="greet-input" type="text" name="myName" id="nameField" placeholder="Enter your name">
            <button class="auth-button" type="submit">Enter!</button>
        </form>

        <form class="index-form" action="/logout" method="GET">
            <button class="auth-button" type="submit" >Logout</button>
        </form>

        <div class="grid-container">
            <a href="create-movie.html" target="_blank" class="tile">Add a new movie</a>
            <a href="create-movie.html" target="_blank" class="tile">Add a new actor</a>
            <a href="search-movies-by-title.html" target="_blank" class="tile">Search movies by title</a>
            <a href="search-movies-by-director.html" target="_blank" class="tile">Search movies by director</a>
            <a href="search-movies-by-genre.html" target="_blank" class="tile">Search movies by genre</a>
            <a href="search-movies-by-country.html" target="_blank" class="tile">Search movies by country</a>
            <a href="search-movies-by-year.html" target="_blank" class="tile">Search movies by year</a>
            <a href="http://localhost:8080/actors/search" target="_blank" class="tile">Search actors</a>
        </div>
    </div>
</body>
</html>
