body {
    background-color: #121212; /* Dark background color */
    color: #E0E0E0; /* Light text color */
    font-family: Arial, sans-serif;
    padding: 0;
    margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF; /* White text for headings */
}

p {
    color: #B0B0B0; /* Slightly dimmer text for paragraphs */
    line-height: 1.6;
}

a {
    color: #BB86FC; /* Purple for links */
    text-decoration: none;
}

a:hover {
    color: #BB86FC; /* Red accent for hovered links */
}

header {
    background-color: #1F1F1F; /* Slightly lighter background for header */
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

button {
    background-color: #BB86FC; /* Dark background for buttons */
    color: #E0E0E0; /* Light text on buttons */
    border: 1px solid #3c3c3c;
    text-decoration: solid;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), inset 1px 1px 2px rgba(255, 255, 255, 0.2); /* Subtle shadow and inset light for depth */
}

button:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4), inset 1px 1px 3px rgba(255, 255, 255, 0.3);
    background: #3C3C3C linear-gradient(145deg, #2d2d2d, #3c3c3c);
}

input[type="text"], input[type="date"], input[type="number"] {
    background-color: #2D2D2D;
    color: #E0E0E0;
    text-decoration: solid;
    border: 1px solid #BB86FC;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

footer {
    background-color: #1F1F1F;
    color: #777;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
}

.review {
    margin-top: 10px;
    padding-left: 15px;
    border-left: 3px solid #BB86FC;
}

#app {
    max-width: 900px;
    margin: 20px auto;
    background: #121212;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-content {
    flex: 1;
}

.movie-info, .movie-reviews {
    margin-bottom: 20px;
}

.movie-poster {
    margin-left: 20px;
    margin-top: 5px;
    align-self: flex-start;
    text-align: right;
}

.movie {
    border: 1px solid #BB86FC;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.poster {
    border-radius: 6px;
}

.auth-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.auth-info span {
    display: block;
    margin: 5px 0;
}

.auth-button {
    padding: 12px;
    background-color: #BB86FC;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.index-header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #BB86FC;
}

.index-body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

.index-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.index-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.greet-input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #2e2e2e;
    color: #e0e0e0;
}

.greet-label {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #b0bec5;
}

/* Style for stars */
.star {
    color: gold;
    font-size: 20px;
}

/* Style for the heart icon */
.heart {
    color: #BB86FC;
    font-size: 20px;
    margin-left: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 15px;
    background-color: black;
    border: 3px solid #BB86FC;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-decoration: solid;
}

.tile {
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-decoration: solid;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.tile:active {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
